body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.banner{
    background-image: url("images/header-bg.png");
    height: 650px;
    background-repeat: no-repeat;
    
}
.biography{
    background-image: url("images/biography-bg.png");
    height: 650px;
    background-repeat: no-repeat;
}
.BiographyBody{
    width: 40%;
    margin-left: 10%;
    float: left;
    padding-left: 2%;
    margin-top: 50px;
}
.greet{
    margin-top: 100px;
}
.owner{
    color: #f5276f;
}

.half-width{
    width: 40%;
    margin-left: 10%;
    float: left;
    padding-left: 2%;
    margin-top: 100px;

}
.half-width img{
    width: 75%;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color: #f5276f;
    border-radius: 10%;
    padding: 10px 20px;
    font-weight: 700;
    
}
.BiographyBody img{
    width: 75%;
    
}
.BiographyBodyHeading{
    margin-top: 150px;
}
.visit{
    color: white;
    background-color: #f5276f;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
}
.latest{
    background-image: url("images/latest-work-bg.png");
    height: 500px;
    background-repeat: no-repeat;

}
.latest h1{
    font-weight: 700;
    color: black;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.Latest-work{
    width: 30%;
    margin-left: 2%;
    float: left;
    padding-left: 1%;
}
.Latest-work img{
    width: 100%;
}
.client{
    background-image: url("images/footer-bg.png");
    height: 650px;
    background-repeat: no-repeat;
}
.client h1{
    font-weight: 700;
    color: black;
    text-align: center;
    margin-bottom: 70px;
}
.client h3{
    font-weight: 700;
    color: black;
    text-align: center;
    
}
.client h5{
    text-align: center;
    color: gray;
    tab-size: 15;
    margin-bottom: 10px;
}
.client p{
    text-align: center;
    color: gray;
    tab-size: 12;
    margin: 5% 30%;
}
.contact{
    height: 100px;
    background-color:#f5276f;
    color: white;
    margin: 0% 30%;
    border-radius: 10px;
}
.contact p{
    text-align: center;
    color: white;
    font-size: 8;
    padding-top: 20px;
}
.contact h4{
    text-align: center;
    color: white;
    font-size: 10;
    margin: 5% 5%;
    padding-bottom: 20px;
}
